@for (player of this.game.players; track $index;) {
<app-player
    class="player-position"
    [name]="player"
    [ngStyle]="{ 'top.px': 130 * ($index + 1) }"
></app-player>
}

<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img
            *ngFor="let c of [0, 1, 2, 3]; let i = index"
            [ngStyle]="{ 'left.px': i * 3 }"
            src="./../../assets/img/cards/card_cover.png"
            alt=""
        />
        <img
            (click)="takeCard()"
            class="top-card"
            style="left: 12px"
            src="./../../assets/img/cards/card_cover.png"
            alt=""
        />

        <!-- Stack of played Cards -->
        @for (card of game.playedCards; track $index) {
        <img
            src="./../../assets/img/cards/{{ card }}.png"
            alt=""
            class="played-card"
        />
        }

        <!-- current card (animation) -->
        <img
            (click)="takeCard()"
            *ngIf="pickCardAnimation"
            class="pick-card"
            style="left: 12px"
            src="./../../assets/img/cards/{{ currentCard }}.png"
            alt=""
        />
    </div>
</div>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>
